<main>
    <!-- <app-filter></app-filter> -->

    <div class="container">
        <form class="filter">
            <div class="search">
                <!-- <img src="../../assets/magnifying-glass-solid.svg" alt="" class="search-icon"> -->
                <i class="fa fa-search search-icon"></i>
                <input type="text" name="search" id="searchByName" class="search-box"
                    placeholder="Search for a country..." [(ngModel)]="searchByName">
            </div>

            <select name="" id="">
                <option value="" disabled selected hidden>Filter by region</option>
                <option value="africa">Africa</option>
                <option value="America">America</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="oceania">Oceania</option>
            </select>
        </form>

        <!-- CARDS -->

        <div class="cards">
            <div class="card"
                *ngFor="let card of cards | filter:searchByName | paginate:{ itemsPerPage: 8, currentPage: p }"
                (click)="gotoDetails(card)">
                <div class="flag">
                    <img src={{card.flags.png}} alt="flag">
                </div>
                <div class="country-summary">
                    <h2>{{card.name}}</h2>
                    <p> <strong>Population:</strong> {{card.population}} </p>
                    <p> <strong>Region:</strong> {{card.region}} </p>
                    <p> <strong>Capital:</strong> {{card.capital}} </p>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event" class="ngx-pagination">
        </pagination-controls>
    </div>
</main>