<!-- LOADER -->

<div class="main-loader" *ngIf="loader">
    <div class="loader"></div>
</div>

<div *ngIf="loader===false">
    <main>
        <div class="container">

            <div class="back">
                <button class="back-btn" (click)="gotoDashboard()">Back</button>
            </div>

            <div class="details">
                <div>
                    <img src="{{detail.flags.svg}}" alt="flag" class="flag">
                </div>
                <div class="country-content">
                    <div class="country-name">
                        <h2>{{detail.name}}</h2>
                    </div>
                    <div class="country-details">
                        <div>
                            <p><strong>Native Name:</strong> {{detail.nativeName}}</p>
                            <p><strong>Population:</strong> {{detail.population.toLocaleString('en-IN')}}</p>
                            <p><strong>Region:</strong> {{detail.region}}</p>
                            <p><strong>Subregion:</strong> {{detail.subregion}}</p>
                            <p><strong>Capital:</strong> {{detail.capital}}</p>
                        </div>
                        <div>
                            <p><strong>Top Level Domain:</strong> {{detail.topLevelDomain[0]}}</p>
                            <p><strong>Timezone:</strong> {{detail.timezones[0]}}</p>
                            <p><strong>Currencies:</strong> {{detail.currencies[0].name}}</p>
                            <p>
                                <strong>Languages: </strong>
                                <span *ngFor="let language of languages">{{language.name}}&nbsp; </span>
                            </p>
                        </div>
                    </div>
                    <!-- <div class="border-countries" *ngFor="let borderCountry of borderCountries">
                        <strong>Border Countries: </strong>
                        <button (click)="gotoDetails(detail)" *ngIf="borderCountry != 0">{{borderCountry}}</button>
                    </div> -->
                    <div class="border-countries">
                        <strong>Border Countries: </strong>
                        <ng-container *ngFor="let borderCountry of borderCountries">
                            <p *ngIf="borderCountry != 0; else elseBlock">{{borderCountry}}</p>
                            <ng-template #elseBlock>no</ng-template>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>