<!-- LOADER -->

<div class="main-loader" *ngIf="loader">
    <div class="loader"></div>
</div>

<div *ngIf="loader===false">
    <main>
        <div class="container">

            <div class="back">
                <button class="back-btn" (click)="gotoDashboard()">Back</button>
            </div>

            <div class="details">
                <div>
                    <img src="{{detail.flags.svg}}" alt="flag" class="flag">
                </div>
                <div class="country-content">
                    <div class="country-name">
                        <h2>{{detail.name}}</h2>
                    </div>
                    <div class="country-details">
                        <div>
                            <p><strong>Native Name:</strong> {{detail.nativeName}}</p>
                            <p><strong>Population:</strong> {{detail.population.toLocaleString('en-IN')}}</p>
                            <p><strong>Region:</strong> {{detail.region}}</p>
                            <p><strong>Subregion:</strong> {{detail.subregion}}</p>
                            <p><strong>Capital:</strong> {{detail.capital}}</p>
                        </div>
                        <div>
                            <p><strong>Top Level Domain:</strong> {{detail.topLevelDomain[0]}}</p>
                            <p><strong>Timezone:</strong> {{detail.timezones[0]}}</p>
                            <p><strong>Currencies:</strong> {{detail.currencies[0].name}}</p>
                            <h4>{{languages.length}}</h4>
                            <ng-container *ngIf="languages.length != 0">
                                <strong>Languages:</strong>
                                <p *ngFor="let language of languages"> {{ language.name }}</p>
                            </ng-container>
                        </div>
                    </div>
                    <ng-container class="border-countries" *ngIf="borderCountries.length != 0">
                        <strong>Border Countries: </strong>
                        <div *ngFor="let borderCountry of borderCountries">
                            <p *ngIf="borderCountry != 0">{{borderCountry}}</p>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </main>
</div>