<!-- <p>details works!</p> -->

<main>
    <div class="container">
        <div class="flag">
            <img src="{{detail[0]?.flags.png}}" alt="">
        </div>
        <div>
            <div>
                <h2>{{detail[0]?.name}}</h2>
                <p>Native Name: {{detail[0]?.nativeName}}</p>
                <p>Population: {{detail[0]?.population}}</p>
                <p>Region: {{detail[0]?.region}}</p>
                <p>Subregion: {{detail[0]?.subregion}}</p>
                <p>Capital: {{detail[0]?.capital}}</p>
            </div>
            <div>
                <p>Top Level Domain: {{detail[0]?.topLevelDomain[0]}}</p>
                <p>Currencies: {{detail[0]?.currencies[0].name}}</p>
                <p>Languages: <span>{{detail[0]?.languages[0].name}}</span>
                    <span> {{detail[0]?.languages[1].name}}</span>
                    <span> {{detail[0]?.languages[2].name}}</span>
                </p>
            </div>
            <div>
                border-countries
            </div>
        </div>
    </div>
</main>

<div class="cards">
    <!-- <div class="card" *ngFor="let card of detail">

        <div class="country-summary">
            <h2>{{card.name}}</h2>
            <p> <strong>Population:</strong> {{card.population}} </p>
            <p> <strong>Region:</strong> {{card.region}} </p>
            <p> <strong>Capital:</strong> {{card.capital}} </p>
        </div>
    </div> -->

</div>